/*table {*/
/*    padding: 0;*/
/*    word-break: initial;*/
/*}*/

th, td {
    border: 1px solid var(--table-border);
    padding: 5px 8px;
    vertical-align: top;
}

th {
    font-weight: bold;
}

tr:nth-child(2n),
th {
    background-color: var(--light-background);
}


/* From github theme. */
/*table th:first-child,*/
/*table td:first-child {*/
/*    margin-top: 0;*/
/*}*/

/*table th:last-child,*/
/*table td:last-child {*/
/*    margin-bottom: 0;*/
/*}*/
